
@import "https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap";

:root{

  --main-b: hsl(218, 28%, 13%);
  --minor-b: hsl(217, 28%, 15%);
  --footer-b: hsl(216, 53%, 9%);
  --testimonials-b: hsl(219, 30%, 18%);
  --cta-b: hsl(217, 28%, 16%);

  --inside-gradient-cyan: hsl(176, 68%, 64%);
  --inside-gradient-blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
  --awhite: #d4d3c4;
  --attribution-color: hsl(228, 45%, 44%);

}


html{
  box-sizing: border-box;
}


*, *:before, *:after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body{
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

h1, h2, h3, h4, header, section {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

h1{
  font-size: 2rem;
  width: 45%;
  margin: 30px auto 0 auto;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

button:focus, input:focus{
  outline-style: none;
}

header{
  background-color: var(--minor-b);
  padding: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
}

.logo img{
  width: 100%;
  height: 100%;
}

nav {
  font-weight: 400;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(4rem, 1fr));
  grid-gap: 0.625rem;
}

.navbar a {
  color: var(--white);
}

.navbar a:hover{
  color: var(--inside-gradient-blue);
}

main{
  background-color: var(--main-b);
  text-align: center;
  padding-bottom: 12.5rem;
  z-index: -1;
}

.call-to-action-intro{
  background-color: var(--minor-b);
  background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin-top: -8rem;
}

.call-to-action-intro p {
  margin: 30px auto 20px auto;
  width: 45%;
  font-size: 1rem;
}

.call-to-action-wrapper{
  margin: 0;
  padding: 10%;
}

.call-to-action-desc{
  font-weight: 400;
}

.call-to-action-btn{
  background: linear-gradient(to right, var(--inside-gradient-cyan), var(--inside-gradient-blue));
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* offset-x | offset-y | blur-radius | color */
  width: 35%;
}

.call-to-action-btn:hover{
  cursor: pointer;
  border-color: var(--inside-gradient-blue);
}

.call-to-action-btn:active{
  background: none;
  border-color: var(--inside-gradient-blue);
}

.cards{
  display: grid;
  grid-gap: 7.5rem;
  grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  grid-template-rows: repeat(2, minmax(12.5rem, 1fr));
  justify-content: center;
  padding: 6.25rem 18%;
  margin-top: -4rem;
}

h3{
  padding: 15px 0 5px 0;
  font-size: 1.2rem;
}

.cards p{
  width: 100%;
  margin: 0 auto;
}

.security img{
  width: 83px;
  height: 78px;
}

.stay-productive-sect{
  padding: 8%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  margin-top: -4rem;
}

.stay-productive-desc{
  padding-left: 60px;
  text-align: left;
}

.sub-title{
  font-size: 2rem;
  width: 75%;
  padding-bottom: 15px;
}

.stay-productive-desc-parag{
  font-weight: 400;
  padding-bottom: 10px;
}

.stay-productive-link{
  padding-right: 23px;
  padding-bottom: 5px;
  font-size: .8rem;
  font-weight: 400;
  color: var(--inside-gradient-cyan);
  border-bottom: 1px solid var(--inside-gradient-cyan);
  background: no-repeat url('../images/icon-arrow.svg');
  background-position: top right;
  transition: border .1s linear;
}

.stay-productive-link:hover{
  border-bottom: 1px solid transparent;
  background: none;
  font-size: 1.2rem;
  padding: 5px 0 0 10px
}

.testimonials-cards{


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;

  z-index: 1;
  position: relative;
  padding: 0 8%;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.testimonial-card {
  background-color:  var(--minor-b);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(100, 100, 100, 0.1);
  text-align: left;
  font-size: .7rem;
  margin: 10px;
  max-width: 313px;

  padding: 30px 25px 0 25px;
}

.quotes{
  position: relative;
}

.quotes:before{
  content: '';
  width: 40px;
  height: 40px;
  background: no-repeat url('../images/bg-quotes.png');
  background-size: 40px;
  position: absolute;
  top: -25px;
  left: -10px;
  z-index: -1;
}

.profile{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  margin: 15px 0 15px 0;
}

.profile-img {
  grid-row: 1 / span 2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.profile-name{
  margin: 0;
  letter-spacing: 1px;
}

.profile-title{
  margin: 0;
  font-size: .6rem;
}

.minor-call-to-action{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
              5px 5px 2px rgba(0, 0, 0, .2);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background: var(--cta-b);

  margin: -14rem auto 5rem auto;
  width: 75%;
}

.minor-call-to-action h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.minor-call-to-action p {
  font-weight: 400;
  width: 75%;
  font-size: .8rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.call-to-action-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  align-items: center;

  width: 92%;
  margin: 0 auto;
  padding-bottom: 1rem;

}

input[type="email"] {
  grid-column: 1 / 3;
  border: none;
  border-radius: 50px;
  padding: 15px;
}

.minor-btn{
  font-size: .8rem;
  width: auto;
  text-shadow: none;
}

footer{
  padding: 5% 10%;
  background: var(--footer-b);
  color: var(--awhite);

  padding-bottom: 5rem;
}

.footer-logo{
  display: flex;

}


.footer-container{
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
  grid-column-gap: 50px;


}

.location-item, .phone-item, .email-item{
  padding-left: 40px;
  margin: 2rem 0;
  position: relative;
  color: var(--awhite);

}

.location-item{
  font-size: .8rem;
  font-weight: 100;
}

.phone-item{
  padding-left: 30px;
  margin: 2rem 0 1rem;
  font-size: .8rem;
}

.email-item{
  padding-left: 30px;
  margin: 1rem 0 ;
  font-size: .8rem;
}

li[class~="icon"]:before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 3px;
  top: 3px;
}

.location-item:before{
  background-image: url('../images/icon-location.svg');
  top: 4px;
}

.phone-item:before{
  background-image: url('../images/icon-phone.svg');
  width: 60%;
  height: 50%;
}


.email-item:before{
  background-image: url('../images/icon-email.svg');
  background-position: left;
}


.about-us, .with-us{
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-us li, .with-us li {
  font-size: 1rem;
  line-height: 2;
}

.footer-container a{
  color: var(--white);
}

.footer-container a:hover{
  color: var(--inside-gradient-blue);
}

.social-links{
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.social-links li{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.social-links img {
    max-width: 50%;
}

.social-links li a {
  margin-top: 1.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links li a:hover{
  color: var(--inside-gradient-blue);
  border-color: var(--inside-gradient-blue);
}

.attribution{
  margin-top: 50px;
}

.attribution p {
  display: flex;
}

.attribution p span {
  flex: 1;
}

.attribution p span:first-of-type{
  text-align: right;
  padding-right: 5px;
}

.attribution p span:last-of-type{
  text-align: left;
  padding-right: 5px;
}

.attribution a{

    color: var(--attribution-color);
    text-decoration: underline;

}

.attribution p {
  margin: 0;
}

.attribution a:hover {
  color: var(--inside-gradient-cyan);
}
